In [10]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, r2_score, root_mean_squared_error
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
housing_df = pd.read_csv("austinHousingData.csv")

housing_df.head()

,zpid,city,streetAddress,zipcode,description,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,...,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,homeImage
0,111373431,pflugerville,14424 Lake Victor Dr,78660,"14424 Lake Victor Dr, Pflugerville, TX 78660 i...",30.430632,-97.663078,1.98,2,True,...,1,1,1.266667,2.666667,1063,14,3.0,4,2,111373431_ffce26843283d3365c11d81b8e6bdc6f-p_f...
1,120900430,pflugerville,1104 Strickling Dr,78660,Absolutely GORGEOUS 4 Bedroom home with 2 full...,30.432673,-97.661697,1.98,2,True,...,1,1,1.400000,2.666667,1063,14,2.0,4,1,120900430_8255c127be8dcf0a1a18b7563d987088-p_f...
2,2084491383,pflugerville,1408 Fort Dessau Rd,78660,Under construction - estimated completion in A...,30.409748,-97.639771,1.98,0,True,...,1,1,1.200000,3.000000,1108,14,2.0,3,1,2084491383_a2ad649e1a7a098111dcea084a11c855-p_...
3,120901374,pflugerville,1025 Strickling Dr,78660,Absolutely darling one story home in charming ...,30.432112,-97.661659,1.98,2,True,...,1,1,1.400000,2.666667,1063,14,2.0,3,1,120901374_b469367a619da85b1f5ceb69b675d88e-p_f...
4,60134862,pflugerville,15005 Donna Jane Loop,78660,Brimming with appeal & warm livability! Sleek ...,30.437368,-97.656860,1.98,0,True,...,1,1,1.133333,4.000000,1223,14,3.0,3,2,60134862_b1a48a3df3f111e005bb913873e98ce2-p_f.jpg

In [ ]:

df = housing_df.copy()
df.info()
df.isnull().sum()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15171 entries, 0 to 15170
Data columns (total 47 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   zpid                        15171 non-null  int64
 1   city                        15171 non-null  object
 2   streetAddress               15171 non-null  object
 3   zipcode                     15171 non-null  int64
 4   description                 15169 non-null  object
 5   latitude                    15171 non-null  float64
 6   longitude                   15171 non-null  float64
 7   propertyTaxRate             15171 non-null  float64
 8   garageSpaces                15171 non-null  int64
 9   hasAssociation              15171 non-null  bool
 10  hasCooling                  15171 non-null  bool
 11  hasGarage                   15171 non-null  bool
 12  hasHeating                  15171 non-null  bool
 13  hasSpa                      15171 non-null  bool
 14  hasView                     15171 non-null  bool
 15  homeType                    15171 non-null  object
 16  parkingSpaces               15171 non-null  int64
 17  yearBuilt                   15171 non-null  int64
 18  latestPrice                 15171 non-null  float64
 19  numPriceChanges             15171 non-null  int64
 20  latest_saledate             15171 non-null  object
 21  latest_salemonth            15171 non-null  int64
 22  latest_saleyear             15171 non-null  int64
 23  latestPriceSource           15171 non-null  object
 24  numOfPhotos                 15171 non-null  int64
 25  numOfAccessibilityFeatures  15171 non-null  int64
 26  numOfAppliances             15171 non-null  int64
 27  numOfParkingFeatures        15171 non-null  int64
 28  numOfPatioAndPorchFeatures  15171 non-null  int64
 29  numOfSecurityFeatures       15171 non-null  int64
 30  numOfWaterfrontFeatures     15171 non-null  int64
 31  numOfWindowFeatures         15171 non-null  int64
 32  numOfCommunityFeatures      15171 non-null  int64
 33  lotSizeSqFt                 15171 non-null  float64
 34  livingAreaSqFt              15171 non-null  float64
 35  numOfPrimarySchools         15171 non-null  int64
 36  numOfElementarySchools      15171 non-null  int64
 37  numOfMiddleSchools          15171 non-null  int64
 38  numOfHighSchools            15171 non-null  int64
 39  avgSchoolDistance           15171 non-null  float64
 40  avgSchoolRating             15171 non-null  float64
 41  avgSchoolSize               15171 non-null  int64
 42  MedianStudentsPerTeacher    15171 non-null  int64
 43  numOfBathrooms              15171 non-null  float64
 44  numOfBedrooms               15171 non-null  int64
 45  numOfStories                15171 non-null  int64
 46  homeImage                   15171 non-null  object
dtypes: bool(6), float64(9), int64(25), object(7)
memory usage: 4.8+ MB

,zpid,zipcode,latitude,longitude,propertyTaxRate,garageSpaces,parkingSpaces,yearBuilt,latestPrice,numPriceChanges,...,numOfElementarySchools,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories
count,1.517100e+04,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,1.517100e+04,15171.000000,...,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000
mean,1.044193e+08,78735.932964,30.291596,-97.778532,1.994085,1.229187,1.224507,1988.554743,5.127677e+05,3.032892,...,0.049173,1.035990,0.976798,1.838495,5.779912,1237.304660,14.857228,2.683010,3.440380,1.467273
std,3.179426e+08,18.893475,0.096973,0.084715,0.053102,1.352117,1.352732,21.579458,4.531853e+05,2.487392,...,0.234937,0.263633,0.292043,1.068376,1.860276,326.513311,1.741857,1.054445,0.849942,0.523697
min,2.858495e+07,78617.000000,30.085030,-98.022057,1.980000,0.000000,0.000000,1905.000000,5.500000e+03,1.000000,...,0.000000,0.000000,0.000000,0.200000,2.333333,396.000000,10.000000,0.000000,0.000000,1.000000
25%,2.941115e+07,78727.000000,30.203313,-97.838009,1.980000,0.000000,0.000000,1974.000000,3.090000e+05,1.000000,...,0.000000,1.000000,1.000000,1.100000,4.000000,966.000000,14.000000,2.000000,3.000000,1.000000
50%,2.949441e+07,78739.000000,30.284416,-97.769539,1.980000,1.000000,1.000000,1993.000000,4.050000e+05,2.000000,...,0.000000,1.000000,1.000000,1.566667,5.778694,1287.000000,15.000000,3.000000,3.000000,1.000000
75%,7.033762e+07,78749.000000,30.366585,-97.717903,1.980000,2.000000,2.000000,2006.000000,5.750000e+05,4.000000,...,0.000000,1.000000,1.000000,2.266667,7.000000,1496.000000,16.000000,3.000000,4.000000,2.000000
max,2.146313e+09,78759.000000,30.517323,-97.569504,2.210000,22.000000,22.000000,2020.000000,1.350000e+07,23.000000,...,2.000000,3.000000,2.000000,9.000000,9.500000,1913.000000,19.000000,27.000000,20.000000,4.000000

In [ ]:
drop_cols = ['zpid', 'streetAddress', 'description', 'latestPriceSource', 'latest_saledate', 'homeImage']
df.drop(columns=drop_cols, inplace=True)
bool_cols = df.select_dtypes(include='bool').columns
df[bool_cols] = df[bool_cols].astype(int)

df = pd.get_dummies(df, columns=['homeType', 'city'], drop_first=True)

y = df['latestPrice']
X = df.drop(columns=['latestPrice'])

print("Feature matrix shape:", X.shape)
print("Target variable shape:", y.shape)

Feature matrix shape: (15171, 55)
Target variable shape: (15171,)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

gbr = GradientBoostingRegressor(random_state=42)
gbr.fit(X_train, y_train)

y_pred = gbr.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

print(f"baseline GB RMSE: {rmse:,.2f}")
print(f"r2 score: {r2:.4f}")

baseline GB RMSE: 326,909.10
r2 score: 0.5485

Gradient Boosting outperforms linear models but is still slightly behind Random Forest in RMSE. However, it holds potential for improvement through careful hyperparameter tuning and can offer better generalization when optimized.

In [9]:
from sklearn.model_selection import GridSearchCV

In [12]:
param_grid = {
    'n_estimators': [100, 200],
    'max_depth': [3, 5],
    'learning_rate': [0.05, 0.1],
    'subsample': [0.8, 1.0]
}

gb = GradientBoostingRegressor(random_state=42)
grid_search = GridSearchCV(estimator=gb, param_grid=param_grid, 
                           cv=5, scoring='neg_root_mean_squared_error', 
                           n_jobs=-1, verbose=1)

grid_search.fit(X_train, y_train)
best_gb = grid_search.best_estimator_
y_pred_gb_tuned = best_gb.predict(X_test)
rmse_gb_tuned = root_mean_squared_error(y_test, y_pred_gb_tuned)
r2_gb_tuned = r2_score(y_test, y_pred_gb_tuned)

print(f"tuned GB RMSE: {rmse_gb_tuned:,.2f}")
print(f"tuned GB r2 Score: {r2_gb_tuned:.4f}")

Fitting 5 folds for each of 16 candidates, totalling 80 fits
tuned GB RMSE: 317,569.10
tuned GB r2 Score: 0.5739